@import url('https://fonts.googleapis.com/css?family=Lato');

.connect-four {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.menu {
    width: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #999 solid;
}

.board {
    margin: 100px auto;
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    background-color: #454545;
}

.col:hover {
    background-color: #545454;
    cursor: pointer;
}

.cell {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 100%;
}


.empty {
    background-color: #fff;
}

.p1 {
    background-color: red;
}

.p2 {
    background-color: yellow;
}