@import url('https://fonts.googleapis.com/css?family=Lato');
html, body, #app, #app>div {
    height: 100%;
    margin: 0;
  }
body {
    
    background-color: #d6d6d6;
}
.background {
    display: flex;
    align-items: middle;
}
.connect-four {
    justify-self: middle;
    font-family: 'Lato', sans-serif;
    width: 50%;
    min-width: 500px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #6C838C;
    box-shadow: 0 0px 10px 2px black;
    }

.header {
    background-color: #243340;
    position: relative;
    z-index: 2;
}

.restart-button {
	background-color:#D97762;
	border-radius:28px;
	border:1px solid #D97762;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px grey;
}
.restart-button:hover {
	background-color:#c76d5a;
    cursor: pointer;
}

h1 {
    margin: 0;
    margin-top: 30px;
    color: #D97762;
    font-size: 60px;
    text-align: center;
    text-shadow: 0px 1px 0px grey;
}
h2 {
    margin: 0;
    color: grey;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
}
.menu {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: #243340;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.board {
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    
    box-shadow: 0 0 5px black;
}

.col {
    display: flex;
    flex-direction: column;
    background-color: #454545;
}

.col:hover {
    background-color: #545454;
    cursor: pointer;
}

.cell {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 100%;
}


.empty {
    background-color: #fff;
}

@keyframes animateIn {
    from {top:-400px;}
    to {top: 0px;}
}

.p1 {
    position: relative;
    animation-name: animateIn;
    animation-duration: 1s;
    background-color: #D13237;
    z-index: 1;
}

.p2 {
    background-color: #F2C85C;
    animation-name: animateIn;
    animation-duration: 1s;
    position: relative;
    z-index: 1;

}