@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



html, body, #app, #app>div {
    height: 100%;
    margin: 0;
}
@keyframes imagean {
    from{opacity: 0;}
    to {opacity: 1;}
}
body {
     
    background-image: url("./images/lowpoly_xs.png");
    background-size: 100% 100%;
    animation-name: imagean;
    animation-duration: 1s;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    
    justify-items: center;
    --cell-size: 20px;
}
#root {
    display:flex;
    width: 100%;
    height: 100%;
}

.connect-four {
    justify-self: center;
    align-self: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    background-color: #8c8c8c;
    box-shadow: 0px 13px 35px 0px rgba(0,0,0,0.75);
    border-radius: 2%;
}

.header {
    position: relative;
    z-index: 2;
}


h1 {
    margin: 0;
    margin-top: 30px;
    font-size: 2rem;
    text-align: center;
    color: #FC4445;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    font-size: 1rem;
    text-align: center;
}
.game-button {
    font-family: 'Roboto', sans-serif;
	background-color:#FC4445;
	border-radius:28px;
	border:1px solid #FC4445;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1rem;
	padding:5px 20px;
    margin-top: 20px;
	text-decoration:none;
}
@keyframes fade {
    from {
        background-color:#FC4445;
        color:#ffffff;
    }
    to {
        background-color:white;
        color: #FC4445;
    }
}
.game-button:hover {
	background-color:white;
    animation: fade;
    animation-duration: 500ms;
    color: #FC4445;
    cursor: pointer;
}

.menu {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.menu p {
    font-family: 'Lato', sans-serif;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    margin-left: 5px;
    color: white;
}
.load-container {
    display: flex;
    padding-top: 20px;
}
.load {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #FC4445; /* Blue */
    border-radius: 50%;
    margin-top: 20px;
    width: 14px;
    height: 14px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/*
  GAME GRID:
*/
.board {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    border: 20px solid #8c8c8c;
    border-radius: 50px;
    background: #8c8c8c;
    box-shadow:  20px 20px 60px #777777,
             -20px -20px 60px #a1a1a1;
}

.col {
    display: flex;
    flex-direction: column;
    background-color: #b1b1b1;
    overflow: hidden;
}

.column-box {
    position: relative;
}
.col-border {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--cell-size)*1.5);
    --box-shadow-color: #8c8c8c;
}
.col-border:hover {
    --box-shadow-color: #a3a3a3;
    border-radius: 50%;
}
.cell-border {
    position: relative;
    width: calc(var(--cell-size) * 1.5);
    height: calc(var(--cell-size) * 1.5);
    margin: 0 auto;
    overflow: hidden;
}

.cell-border:after {
    content: '';
    position: absolute;
    left: calc(var(--cell-size) / 4);
    top: calc(var(--cell-size) / 4);
    border-radius: 100%;
    width: var(--cell-size);
    height: var(--cell-size);
    box-shadow: 0 0 0 2000px var(--box-shadow-color);
    
}



.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    margin: calc(var(--cell-size) / 4);
    border-radius: 100%;
}

@keyframes animateIn {
    from {top: -400px;}
    to {top: -1px;}
}
.p1, .p2 {
    position: relative;
    width: calc(var(--cell-size) + 2px);
    height: calc(var(--cell-size) + 2px);
    top: -2px;
    left: -2px;
    border-radius: 100%;
    animation-duration: 0.55s;
    animation-name: animateIn;
}
.p1 {
    background-color: #FC4445;
}

.p2 {
    background-color: #fff23e;
}


.slider.round:before {
    border-radius: 50%;
}

.log {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
}
.log p {
    margin: 0;
    color: rgb(48, 48, 48);
    font-size: 10px;
    margin-bottom: 10px;
}

.log-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.log-switch p {
    color: white;
    margin-left: 5px;
}
.switch {
    --radius: 20px;
    --gap: 3px;
    --inner: calc(var(--radius) - var(--gap));
    position: relative;
    display: inline-block;
    width: calc(2*var(--radius));
    height: calc(var(--radius) + var(--gap));
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    border-radius:  calc(var(--radius) + var(--gap));
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: var(--inner);
    width: var(--inner);
    left: var(--gap);
    bottom: var(--gap);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FC4445;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FC4445;
}

input:checked + .slider:before {
    -webkit-transform: translateX(var(--inner));
    -ms-transform: translateX(var(--inner));
    transform: translateX(var(--inner));
}

/* Small devices/landscape*/
@media (min-width: 576px) {
    
    body {
        background-image: url("./images/lowpoly_s.png");
        background-size: cover;
    }
    .connect-four {
        flex-direction: row;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    h1 {
        font-size: 4vw;
        margin-left: 10px;

    }
    h2 {
        font-size: 1.5vw;
    }
    .menu {
        margin-left: 5px;
        margin-right: 5px;
        flex-direction: column;
    }
    .log-switch {
        display: none;
    }
    .log {
        display: none;
    }
    .board {
        margin-right: 10px;
    }
    .game-button {
        font-size: 1.5vw;
    }
    .menu p {
        font-size: 1.5vw;
        padding-top: 5px;
    }
}
/* Medium devices*/
@media (min-width: 768px) {
    body {
        background-image: url("./images/lowpoly_m.png");
        background-size: 100% 100%;
        --cell-size: 3vw;
    }
    .connect-four {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
    .header {
        display: block;
    }
    .menu {
        flex-direction: row;
    }
    
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 1.9vw;
        margin-bottom: 0;
    }
    .connect-four {
        width: 60%;
    }
    .menu {
        margin-bottom: 10px;
    }
    .game-button {
        font-size: 1.8vw;
        padding: 0.5vw;
        padding-left: 1.3vw;
        padding-right: 1.3vw;
    }
    .menu p {
        font-size: 1.8vw;
    }
    .switch {
        --radius: 30px;
        --gap: 4px;
    }
    .log {
        display: flex;
        width: 50%;
        margin-bottom: 20px;
    }
    .board {
        margin-right: auto;
    }
    .log p {
        font-size: 15px;
        margin: 0;
    }
    .log-switch p {
        font-size: 15px;
    }
    .log-switch {
        display: flex;
        margin-bottom: 10px;
    }
}

/* Large devices*/
@media (min-width: 992px) {
    body {
        background-image: url("./images/lowpoly_l.png");
        background-size: 100% 100%;
        --cell-size: min(4vh, 3vw);
    }
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 1.9vw;
        margin-bottom: 0;
    }
    .connect-four {
        width: 60%;
    }
    .menu {
        margin-bottom: 10px;
    }
    .game-button {
        font-size: 1.3vw;
        padding: 0.5vw;
        padding-left: 1.3vw;
        padding-right: 1.3vw;
    }
    .menu p {
        font-size: 1.3vw;
        padding-top: 20px;
    }
    .switch {
        --radius: 20px;
        --gap: 3px;
    }
    .log {
        width: 40%;
        margin-bottom: 20px;
    }
    .log p {
        font-size: 15px;
        margin: 0;
    }
    .log-switch p {
        font-size: 15px;
    }
    .log-switch {
        margin-bottom: 10px;
    }
}